/*
 * nextflow.config — cluster defaults + paths
 */

// Conda cache
conda.enabled = true
params.conda = "/projects/${USER}/software/anaconda/envs"

// Paths to data directories
params.projectDir = "${baseDir}"
params.dataDir = "/pl/active/cgreene-sc-hgsoc/ariel_sc_HGSOC/pooled_sc"
params.refVcfDir = "/scratch/alpine/${USER}/hgsoc/simulations/scripts/experiment/results/1a_vcf"
params.outdir = "demultiplexing"

// Dataset & experiment selection
params.dataset = "high_grade_glioma" // options: hgsoc, hgsoc-new, central_nervous_system_tumor
params.ref_modality = "bulk_chunk_ribo"  // options: bulk_chunk_ribo, bulk_diss_ribo for hgsoc-new


// ---
// Define profiles for different execution environments
// ---
profiles {

    // Profile for running locally on your machine (default if no profile is specified)
    local {
        process {
            executor = 'local' // Use the local executor
            cpus     = 2       // Adjust based on your local machine's cores
            memory   = '8 GB'  // Adjust based on your local machine's RAM
            time     = '4h'    // Adjust if local runs are typically shorter
        }

        params {
            refGenome="${params.projectDir}/refdata-gex-GRCh38-2024-A"
        }
    }

    // Profile for running on a SLURM HPC cluster
    slurm {
        process {
            executor = 'slurm'
            queue = 'amilan'
            clusterOptions = '--account=amc-general --qos=normal'
            
            // Default resources
            cpus = 4
            memory = '8 GB'
            time = '2h'
        }

        params {
            refGenome="/projects/${USER}/hgsoc/refdata-gex-GRCh38-2024-A"
        }
        
        executor {
            queueSize = 50  // Max concurrent jobs
            submitRateLimit = '10 sec'  // Rate limiting
        }
    }
}
