/*
 * Minimal Nextflow config for benchmarking/ntsm pipeline
 */

conda.enabled = true

params {
    projectDir = "${baseDir}"
    petaLibrary = "/pl/active/cgreene-sc-hgsoc/mismatch_project_data"

    // Required inputs supplied at runtime on HPC
    dataset = "hgsoc"
    datatype = "bulk_chunk_ribo"
    read_type = "paired"

    // ntsm resources
    ntsm_dir = "/projects/${USER}/software/ntsm"
    sites = "${params.ntsm_dir}/data/human_sites_n10.fa"
    conda = "/projects/${USER}/software/anaconda/envs"

    // Execution options
    read_type = "paired"
    threads = 2
    outdir = "results"
}

process {
    executor = 'local'
    cpus = params.threads
    memory = 8.GB
    time = 2.h

    withName: 'NTSM_COUNT' {
        cpus = params.threads
        memory = 32.GB
        time = 4.h
    }

    withName: 'NTSM_EVAL' {
        cpus = 1
        memory = 8.GB
        time = 1.h
    }
}

profiles {
    slurm {
        process {
            executor = 'slurm'
            queue = 'acpu'
            clusterOptions = '--account=amc-general --qos=cpu-normal'

            cpus = params.threads
            memory = 8.GB
            time = 2.h

            withName: 'NTSM_COUNT' {
                cpus = params.threads
                memory = 32.GB
                time = 4.h
            }

            withName: 'NTSM_EVAL' {
                cpus = 1
                memory = 8.GB
                time = 1.h
            }
        }
    }
}
