/*
 * nextflow.config — cluster defaults + paths
 */

// Define parameters
params.dataset="central_nervous_system_tumor" // options: high_grade_glioma, hgsoc, low_grade_glioma, central_nervous_system_tumor, wilms_tumor
params.datatype="single-nucleus" // single-cell for hgg, lgg, hgsoc; single-nucleus for cnst, wt
params.n_pseudobulks=3
params.n_barcodes=200

params.projectDir = "${baseDir}"
params.dataDir = "${params.projectDir}/../data"
params.petaLibrary = "/pl/active/cgreene-sc-hgsoc/mismatch_project_data"

conda.enable = true

// ---
// Define profiles for different execution environments
// ---
profiles {

    // Profile for running locally on your machine (default if no profile is specified)
    local {
        process {
            executor = 'local' // Use the local executor
            cpus     = 6       // Adjust based on your local machine's cores
            memory   = '8 GB'  // Adjust based on your local machine's RAM
            time     = '24h'    // Adjust if local runs are typically shorter
        }

        params {
            refGenome="${params.dataDir}/refdata-gex-GRCh38-2024-A/star"
        }
    }

    // Profile for running on a SLURM HPC cluster
    slurm {
        process {
            executor = 'slurm'
            queue = 'amilan'
            clusterOptions = '--account=amc-general --qos=normal'
            
            // Default resources
            cpus = 3
            memory = '32 GB'
            time = '12h'

            // limit concurrent STAR alignment jobs
            withName: 'ALIGNMENT_WITH_STAR' {
                maxForks = 20
            }

        }

        params {
            refGenome="/projects/${USER}/hgsoc/refdata-gex-GRCh38-2024-A/star"
        }
        
        executor {
            queueSize = 50  // Max concurrent jobs
            submitRateLimit = '10 sec'  // Rate limiting
        }
    }
}
