/*
 * nextflow.config — cluster defaults + paths
 */

// Define parameters
params.dataset="high_grade_glioma"
params.datatype="single-cell" // options are single-cell or single-nucleus
params.sample="GSM7305278"

params.projectDir = "${baseDir}"
params.dataDir = "${params.projectDir}/../data"
params.outputDir = "${params.projectDir}/../output_data"

// params.petaLibrary = "/pl/active/cgreene-sc-hgsoc/ariel_sc_HGSOC/GreeneC_OrmanD_scV3_HM5CCDSX5_230201/fastq"
// params.inputData = "pl/active/cgreene-sc-hgsoc/mismatch_project_data/${params.dataset}/${params.sample}"
params.testSet = "${params.projectDir}/../data/test_fastq/high_grade_glioma"
params.refGenome="${params.projectDir}/../data/refdata-gex-GRCh38-2024-A/star"
// params.refGenome = "/projects/${USER}/hgsoc/refdata-gex-GRCh38-2024-A/star"

conda.enable = true

// ---
// Define profiles for different execution environments
// ---
profiles {

    // Profile for running locally on your machine (default if no profile is specified)
    local {
        process {
            executor = 'local' // Use the local executor
            cpus     = 6       // Adjust based on your local machine's cores
            memory   = '8 GB'  // Adjust based on your local machine's RAM
            time     = '4h'    // Adjust if local runs are typically shorter
        }
    }

    // Profile for running on a SLURM HPC cluster
    slurm {
        process {
            executor = 'slurm'
            queue = 'amilan'
            clusterOptions = '--account=amc-general --qos=normal'
            
            // Default resources
            cpus = 3
            memory = '32 GB'
            time = '1h'
        }
        
        executor {
            queueSize = 50  // Max concurrent jobs
            submitRateLimit = '10 sec'  // Rate limiting
        }
    }
}
